.carousel-text{
    font-size: 0.8rem;
}
.carousel-title{
    font-size: 5vw;
}
.title{
    font-size: 2.5rem;
}
.description{
    font-size: 1rem;
    color: rgb(161, 154, 154);
}
.address{
    color: #cccaca;
}